<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="8c5a3c64-a7a9-4dcc-ab91-61b262d15067"
            Publisher="CN=Viktor"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="b17de64c-f847-463b-b442-9eb56f61740e"
                    PhonePublisherId="765cdfb2-fe86-408c-9601-fa0924a319ee"/>

  <Properties>
    <DisplayName>Trafikläget</DisplayName>
    <PublisherDisplayName>Viktor</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="AGHost.exe"
                 EntryPoint="MainPage.xaml">
      <m3:VisualElements
          DisplayName="Trafikläget"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="Trafikläget"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>

      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>

    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

</Package>